ModelHeritageEnv/

# Frontend
model_heritage_frontend/pnpm-lock.yaml
model_heritage_frontend/node_modules
model_heritage_frontend/dist

# Backend
model_heritage_backend/src/__pycache__
model_heritage_backend/src/*/__pycache__
model_heritage_backend/src/database/app.db
model_heritage_backend/uploads/*.pt
model_heritage_backend/uploads/*.pth
model_heritage_backend/uploads/*.bin
model_heritage_backend/uploads/*.safetensors

node_modules

model_heritage_backend/weights
weights/